/** 
 *  Constants
 *
 */

 // Colors
 $color-primary:   #e7e7e7;
 $color-secondary: white;
 $color-tertiary:  navy;

 // Fonts
 $fontsize-small:  1em;
 $fontsize-medium: 1.5em;
 $fontsize-large:  32px;

 //  Containers
 $toolbar-height: 75px;
 
 